# URL e credenciais da API do WAHA Whatsapp
WAHA_URL=http://localhost:3000
WAHA_KEY=sua-chave-api
WAHA_LOGIN=admin
WAHA_PASS=123456

# URL e credenciais do Chatwoot
CW_URL=http://localhost:3000
CW_TOKEN=seu-token-chatwoot
CW_ACCOUNT=1
